{:tasks {dev (do (shell "yarn")
               (shell "shadow-cljs -A:dev:clerk watch clerk"))
         sha (let [sha (clojure.string/trim (:out (shell {:out :string} "git rev-parse HEAD")))
                   file "public/index.html"]
               (->
                 (slurp file)
                 (clojure.string/replace "$GIT_SHA" sha)
                 (->> (spit file))))
         publish (do (shell "yarn")
                   (shell "yarn shadow-cljs -A:dev:clerk release clerk")
                   (shell "clojure -X:dev:clerk user/publish!")
                   (shell "rm public/index.html")
                   (shell "mv public/dev/inside_out/notebook.htmlc" "public/index.html")
                   (shell "touch public/CNAME")
                   (run 'sha)
                   (spit "public/CNAME" "inside-out.matt.is"))}}