{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        rewrite-clj/rewrite-clj {:mvn/version "1.0.644-alpha"}
        applied-science/js-interop {:mvn/version "0.3.1"}
        reagent/reagent {:mvn/version "1.1.0"}
        funcool/promesa {:mvn/version "9.0.489"}}
 :aliases
 {:clerk {:extra-paths ["dev"]
          :extra-deps {
                       io.github.nextjournal/clerk:viewer
                       {:local/root "../clerk/viewer"
                        #_#_#_#_:git/url "https://github.com/nextjournal/clerk.git"
                                :deps/root "dev"}
                       io.github.nextjournal/clerk
                       {:local/root "../clerk"
                        #_#_:git/sha "49237971ccf850d2f933b12d5b0c1b4dfa64b12b"
                        #_#_:mvn/version "0.6.387"}
                       }}}}
