{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        rewrite-clj/rewrite-clj {:mvn/version "1.1.45"}
        applied-science/js-interop {:mvn/version "0.3.3"}
        reagent/reagent {:mvn/version "1.1.1"}
        funcool/promesa {:mvn/version "9.2.541"}
        thheller/shadow-cljs {:mvn/version "2.20.13"}}
 :aliases
 ;; for compiling clerk notebook
 {:clerk {:extra-paths ["dev"]
          :extra-deps {io.github.mhuebert/clerk-cljs
                       {:git/sha "7570ae50c8c10111a3c555142d410a9df5f0927a"}
                       io.github.nextjournal/clerk
                       {:git/sha "ce767a6fa846cbc2ddb113956aa2fa0fe19dd157"}
                       io.github.nextjournal/clerk.render
                       {:git/url "https://github.com/nextjournal/clerk.git"
                        :git/sha "ce767a6fa846cbc2ddb113956aa2fa0fe19dd157"
                        :deps/root "render"}}}

  ;; for working on Clerk
  :clerk-local {:extra-paths ["dev"]
                :extra-deps {io.github.nextjournal/clerk.viewer
                             {:local/root "../clerk/viewer"}}}}}
