{:deps true
 :dev-http {8765 {:root "public"}}
 :builds
 {:clerk
  {:target :browser
   :modules {:clerk {:entries [nextjournal.clerk.static-app
                               nextjournal.devcards.main
                               nextjournal.viewer.notebook
                               nextjournal.clerk.render

                               inside-out.notebook]}}
   :output-dir "public/js"
   :asset-path "/js"
   }}}